@using SanGoStore.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Assets/Images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Danh sách sản phẩm</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span>Danh sách sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <!-- Search Form -->
                    <div class="sidebar__item">
                        <h4>Tìm kiếm sản phẩm</h4>
                        <form action="@Url.Action("Index", "Shop")" method="get">
                            <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm..." value="@Request.QueryString["keyword"]" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Category List -->
                    <div class="sidebar__item">
                        <h4>Danh mục sản phẩm</h4>
                        @Html.Action("DanhMucSanPham", "Home")
                    </div>
                    <!-- Latest Products -->
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Cập nhật mới</h4>
                            <div class="latest-product__slider owl-carousel">
                                @foreach (var sanpham in Model)
                                {
                                    <div class="latest-product__slider__item">
                                        <a href="@Url.Action("Details", "Shop", new { id = sanpham.MaSP })" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="@Url.Content("~/Assets/Images/" + sanpham.AnhDD)" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>@sanpham.TenSP</h6>
                                                <span>@sanpham.GiaBan</span>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="row">
                    @foreach (var sanpham in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@Url.Content("~/Assets/Images/" + sanpham.AnhDD)">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="@Url.Action("Details", "Shop", new { id = sanpham.MaSP })"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="@Url.Action("ThemGioHang", "GioHang", new { iMaSP = sanpham.MaSP, strURL = Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">@sanpham.TenSP</a></h6>
                                    <h5>@sanpham.GiaBan vnđ</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="product__pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, keyword = Request.QueryString["keyword"] }))
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
